In [1437]:
import pandas as pd
import numpy as np

In [1438]:
df = pd.read_csv("C:/Python/00 - Template/Data Science/Slayer/train_new.csv")
df["Vehicle"] = df["Vehicle Class"]
df["Engine"] = df["Engine Size(L)"]
df["Fuel"] = df["Fuel Type"] 
df["City"] = df["Fuel Consumption City"]
df["Hwy"] = df["Fuel Consumption Hwy"]
df["Comb"] = df["Fuel Consumption Comb"]
df["Emissions"] = df["CO2 Emissions(g/km)"]

In [1439]:
drop = ["Id", "Vehicle Class", "Engine Size(L)", "Fuel Type", "Fuel Consumption City", "Fuel Consumption Hwy", "Fuel Consumption Comb", "CO2 Emissions(g/km)"]
df = df.drop(drop, axis=1)

Pre Processing Konsistensi Data

Variabel "Make"

In [1440]:
# Step 1: Handling Missing Values
# Tidak ada missing values

# Step 2: Standardizing Text
df['Make'] = df['Make'].str.upper()
df["Make"].head()

0      MITSU
1     TOYOTI
2    MATSUDA
3      CHEVO
4     TOYOTI
Name: Make, dtype: object

Cylinders

In [1441]:
# Handling missing and irregular values in the "Cylinders" column

# Identifying the irregular values
irregular_values = ['not-available', 'unestablished', 'unspecified', 'not-recorded', '-1', 'missing', 'unknown', 'na']

# Replacing irregular values with NaN
df['Cylinders'] = df['Cylinders'].replace(irregular_values, np.nan)

# Convert the (Cylinders)' column to float
df['Cylinders'] = pd.to_numeric(df['Cylinders'], errors='coerce')

Transmission

In [1442]:
import pandas as pd
import numpy as np

# Daftar nilai yang dianggap hilang
missing_values = ['unspecified', 'not-recorded', 'unknown', 'missing', "Unknown", 
                  'not-available', 'na', 'unestablished', '-1']

# Mengganti nilai-nilai ini dengan NaN dari NumPy
df['Transmission'].replace(missing_values, np.nan, inplace=True)


# Mengganti nilai-nilai ini dengan NaN dari NumPy
df['Transmission'] = df['Transmission'].astype('category')

Vehicle Class

In [1443]:
import pandas as pd

# List of values to be considered as missing
missing_values = ['missing', 'not-recorded', 'na', 'unspecified', 'unknown', 
                  'unestablished', '-1', 'not-available']

# Mengganti nilai-nilai ini dengan NaN (Menggunakan pd.NA untuk representasi yang lebih konsisten)
df['Vehicle'].replace(missing_values, np.nan, inplace=True)


# Mengganti nilai-nilai ini dengan NaN dari NumPy
df['Vehicle'] = df['Vehicle'].astype('category')

Engine Size

In [1444]:
import numpy as np

# Replace non-numeric, placeholder strings with NaN and convert data to numeric type
non_numeric_placeholders = ['unspecified', 'missing', 'na', 'not-available', 'not-recorded', 'unknown', 'unestablished', '-1']
df['Engine'] = df['Engine'].replace(non_numeric_placeholders, np.nan)

# Convert the 'Engine Size(L)' column to float
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')

Fuel

In [1445]:
import pandas as pd

# Assuming df is your DataFrame and 'Fuel' is the column to be processed

# List of values to be considered as missing or invalid
missing_values = ['-1', 'missing', 'unspecified', 'not-recorded', 'unknown', 
                  'unestablished', 'na', 'not-available']


# Mengganti nilai-nilai ini dengan NaN (Menggunakan pd.NA untuk representasi yang lebih konsisten)
df['Fuel'].replace(missing_values, np.nan, inplace=True)

df['Fuel'] = df['Fuel'].astype('category')

City

In [1446]:
import pandas as pd

# Conversion factors
KM_PER_MILE = 1.60934
LITERS_PER_GALLON_IMP = 4.54609
LITERS_PER_GALLON_US = 3.78541

def convert_fuel_consumption(value):
    if pd.isnull(value) or value == '-1' or value == '0':
        return np.nan  # Handle missing or invalid values
    try:
        value = value.lower().replace(' ', '')  # Convert string to lower case and remove spaces
        if 'litersper100km' in value:
            return float(value.split('litersper100km')[0])
        elif 'l/100km' in value:
            return float(value.split('l/100km')[0])
        elif 'l/10km' in value:
            return float(value.split('l/10km')[0]) * 10
        elif 'kmperl' in value:
            return 100 / float(value.split('kmperl')[0])
        elif 'mpgimp.' in value:
            return 100 / (float(value.split('mpgimp.')[0]) * KM_PER_MILE / LITERS_PER_GALLON_IMP)
        elif 'mpg' in value and 'mpgimp.' not in value:
            return 100 / (float(value.split('mpg')[0]) * KM_PER_MILE / LITERS_PER_GALLON_US)
        else:
            return np.nan  # If the format is not recognized, return missing value indicator
    except (ValueError, IndexError):
        return np.nan  # In case of any unexpected format errors

# Assuming 'df' is your DataFrame
df['City'] = df['City'].apply(convert_fuel_consumption)

Hwy

In [1447]:
import pandas as pd

# Conversion factors
KM_PER_MILE = 1.60934
LITERS_PER_GALLON_IMP = 4.54609
LITERS_PER_GALLON_US = 3.78541

def convert_fuel_consumption(value):
    if pd.isnull(value) or value == '-1' or value == '0':
        return np.nan  # Handle missing or invalid values
    try:
        # Standardize the string by removing spaces and converting to lowercase
        value = value.lower().replace(' ', '').replace('km/l', 'kmperl')
        
        if 'litersper100km' in value:
            return float(value.split('litersper100km')[0])
        elif 'l/100km' in value:
            return float(value.split('l/100km')[0])
        elif 'l/10km' in value:
            return float(value.split('l/10km')[0]) * 10
        elif 'kmperl' in value:
            return 100 / float(value.split('kmperl')[0])
        elif 'mpgimp.' in value:
            return 100 / (float(value.split('mpgimp.')[0]) * KM_PER_MILE / LITERS_PER_GALLON_IMP)
        elif 'mpg' in value and 'mpgimp.' not in value:
            return 100 / (float(value.split('mpg')[0]) * KM_PER_MILE / LITERS_PER_GALLON_US)
        else:
            return np.nan  # If the format is not recognized, return missing value indicator
    except (ValueError, IndexError):
        return np.nan  # In case of any unexpected format errors

# Assuming 'df' is your DataFrame
df['Hwy'] = df['Hwy'].apply(convert_fuel_consumption)

Comb

In [1448]:
import pandas as pd

# Conversion factors
KM_PER_MILE = 1.60934
LITERS_PER_GALLON_IMP = 4.54609
LITERS_PER_GALLON_US = 3.78541

def convert_fuel_consumption(value):
    if pd.isnull(value) or value == '-1' or value == '0':
        return np.nan  # Handle missing or invalid values
    try:
        # Standardize the string by removing spaces and converting to lowercase
        value = value.lower().replace(' ', '').replace('km/l', 'kmperl')
        
        if 'litersper100km' in value:
            return float(value.split('litersper100km')[0])
        elif 'l/100km' in value:
            return float(value.split('l/100km')[0])
        elif 'l/10km' in value:
            return float(value.split('l/10km')[0]) * 10
        elif 'kmperl' in value:
            return 100 / float(value.split('kmperl')[0])
        elif 'mpgimp.' in value:
            return 100 / (float(value.split('mpgimp.')[0]) * KM_PER_MILE / LITERS_PER_GALLON_IMP)
        elif 'mpg' in value and 'mpgimp.' not in value:
            return 100 / (float(value.split('mpg')[0]) * KM_PER_MILE / LITERS_PER_GALLON_US)
        else:
            return np.nan  # If the format is not recognized, return missing value indicator
    except (ValueError, IndexError):
        return np.nan  # In case of any unexpected format errors

# Assuming 'df' is your DataFrame
df['Comb'] = df['Comb'].apply(convert_fuel_consumption)

In [1449]:
print(df.isna().sum())

Make               0
Cylinders       4523
Transmission    1483
Vehicle         2051
Engine          5264
Fuel            1942
City            9040
Hwy             2563
Comb            2552
Emissions          0
dtype: int64

In [1450]:
df.head()

,Make,Cylinders,Transmission,Vehicle,Engine,Fuel,City,Hwy,Comb,Emissions
0,MITSU,4.0,AV8,SUV - SMALL,1.5,X,NaN,7.200000,9.800000,208
1,TOYOTI,6.0,A5,PICKUP TRUCK - SMALL,NaN,X,13.793103,9.700000,11.960000,325
2,MATSUDA,4.0,AS6,COMPACT,2.0,X,NaN,7.299267,8.894258,170
3,CHEVO,8.0,A6,VAN - PASSENGER,NaN,X,17.300000,11.700000,14.780000,362
4,TOYOTI,4.0,M6,COMPACT,1.8,X,8.100000,7.899375,8.010000,180

Preprocessing Missing Values(Jangan lupa untuk mencoba deep learning)

Pengisian City, Hwy, dan Comb berdasarkan hubungan tertentu.

In [1451]:
# Mengimputasi 'City' jika 'Hwy' dan 'Comb' tersedia
df.loc[df['City'].isna() & df['Hwy'].notna() & df['Comb'].notna(), 'City'] = (df['Comb'] - 0.45 * df['Hwy']) / 0.55

# Mengimputasi 'Hwy' jika 'City' dan 'Comb' tersedia
df.loc[df['Hwy'].isna() & df['City'].notna() & df['Comb'].notna(), 'Hwy'] = (df['Comb'] - 0.55 * df['City']) / 0.45

# Mengimputasi 'Comb' jika 'City' dan 'Hwy' tersedia
df.loc[df['Comb'].isna() & df['City'].notna() & df['Hwy'].notna(), 'Comb'] = 0.55 * df['City'] + 0.45 * df['Hwy']

In [1452]:
print(df.isna().sum())

Make               0
Cylinders       4523
Transmission    1483
Vehicle         2051
Engine          5264
Fuel            1942
City             848
Hwy              511
Comb             520
Emissions          0
dtype: int64

Pengisian Engine, City, Hwy, dan Comb menggunakan MICE (LightGBM)

In [1453]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

def round_to_nearest_valid_cylinder(value):
    valid_values = np.array([4, 6, 8, 10, 12])
    closest_index = np.abs(valid_values - value).argmin()
    return valid_values[closest_index]

def impute_numeric_data_with_lightgbm(df, column_to_impute, columns_to_drop):
    # Menyaring kolom yang memiliki data hilang
    df_with_missing = df[df[column_to_impute].isna()]
    df_without_missing = df[~df[column_to_impute].isna()]

    # Menghapus kolom kategorikal
    df_with_missing = df_with_missing.drop(columns=columns_to_drop)
    df_without_missing = df_without_missing.drop(columns=columns_to_drop)

    # Memisahkan data menjadi fitur dan target
    X = df_without_missing.drop(columns=[column_to_impute])
    y = df_without_missing[column_to_impute]

    # Membagi data untuk training dan testing
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

    # Membangun dan melatih model LightGBM
    model = lgb.LGBMRegressor(num_leaves=31, learning_rate=0.1, n_estimators=30, random_state=0)
    model.fit(X_train, y_train)

    # Evaluasi model
    y_pred = model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))

    # Mengimputasi data yang hilang
    imputed_values = model.predict(df_with_missing.drop(columns=[column_to_impute]))

    # Jika kolom yang diimputasi adalah 'Cylinders', lakukan rounding dan mapping
    if column_to_impute == 'Cylinders':
        imputed_values = np.array([round_to_nearest_valid_cylinder(x) for x in imputed_values])

    # Mengisi nilai yang diimputasi ke dalam dataframe asli
    df.loc[df[column_to_impute].isna(), column_to_impute] = imputed_values

    return df, rmse

# Kolom kategorikal yang akan dihapus
categorical_columns = ['Make', 'Transmission', 'Vehicle', 'Fuel', 'Emissions']

# Kolom numerik yang akan diimputasi
numeric_columns_to_impute = ['Engine', 'Cylinders', 'City', 'Hwy', 'Comb']

# Melakukan imputasi untuk setiap kolom numerik
imputation_results_with_lightgbm = {}
for column in numeric_columns_to_impute:
    df, rmse = impute_numeric_data_with_lightgbm(df, column, categorical_columns)
    imputation_results_with_lightgbm[column] = rmse

# Menampilkan hasil imputasi
imputation_results_with_lightgbm, df.head()

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000148 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 774
[LightGBM] [Info] Number of data points in the train set: 39738, number of used features: 4
[LightGBM] [Info] Start training from score 2.977364
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000378 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 946
[LightGBM] [Info] Number of data points in the train set: 40331, number of used features: 4
[LightGBM] [Info] Start training from score 5.293967
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000153 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 713
[LightGBM] [Info] Number of data points in the train set: 43271, number of used features: 4
[LightGBM] [Info] Start training from score 12.552319
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000475 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 712
[LightGBM] [Info] Number of data points in the train set: 43540, number of used features: 4
[LightGBM] [Info] Start training from score 9.142837
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000468 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 714
[LightGBM] [Info] Number of data points in the train set: 43533, number of used features: 4
[LightGBM] [Info] Start training from score 11.016702

({'Engine': 0.46759074079875856,
  'Cylinders': 0.20678182076753654,
  'City': 0.2993548987969331,
  'Hwy': 0.3431434820093391,
  'Comb': 0.16301668530195654},
       Make  Cylinders Transmission               Vehicle    Engine Fuel  \
 0    MITSU        4.0          AV8           SUV - SMALL  1.500000    X
 1   TOYOTI        6.0           A5  PICKUP TRUCK - SMALL  3.398870    X
 2  MATSUDA        4.0          AS6               COMPACT  2.000000    X
 3    CHEVO        8.0           A6       VAN - PASSENGER  5.211981    X
 4   TOYOTI        4.0           M6               COMPACT  1.800000    X

         City        Hwy       Comb  Emissions
 0  11.927273   7.200000   9.800000        208
 1  13.793103   9.700000  11.960000        325
 2  10.199251   7.299267   8.894258        170
 3  17.300000  11.700000  14.780000        362
 4   8.100000   7.899375   8.010000        180  )

({'Engine': 0.5160802629024637,
  'City': 0.687925340622584,
  'Hwy': 0.5946249465204516,
  'Comb': 0.308081547312194},
      Make Cylinders Transmission                  Vehicle    Engine Fuel  \
 0    FOLD       6.0           A6  PICKUP TRUCK - STANDARD  3.500000    X   
 1   CHEVO       NaN           A6  PICKUP TRUCK - STANDARD  5.300000    E   
 2     BMV       NaN           M6               SUBCOMPACT  4.400000    Z   
 3     KIO       4.0          AS6              SUV - SMALL  2.226771    X   
 4  BARUSU       6.0          NaN              MINICOMPACT  3.000000    Z   
 
         City    Hwy       Comb  Emissions  
 0   8.640000   6.14   7.514808      306.0  
 1  27.270000  30.76  28.840000      283.0  
 2   1.700000   2.03   1.848500      329.0  
 3  15.337423  15.90  15.590583      270.0  
 4  20.150000   6.00  13.800000      193.0  )

In [1454]:
df['Transmission'] = df['Transmission'].astype('category')
df['Vehicle'] = df['Vehicle'].astype('category')

df['Fuel'] = df['Fuel'].astype('category')

In [1455]:
df.head()

,Make,Cylinders,Transmission,Vehicle,Engine,Fuel,City,Hwy,Comb,Emissions
0,MITSU,4.0,AV8,SUV - SMALL,1.500000,X,11.927273,7.200000,9.800000,208
1,TOYOTI,6.0,A5,PICKUP TRUCK - SMALL,3.398870,X,13.793103,9.700000,11.960000,325
2,MATSUDA,4.0,AS6,COMPACT,2.000000,X,10.199251,7.299267,8.894258,170
3,CHEVO,8.0,A6,VAN - PASSENGER,5.211981,X,17.300000,11.700000,14.780000,362
4,TOYOTI,4.0,M6,COMPACT,1.800000,X,8.100000,7.899375,8.010000,180

Pengisian Cylinders, Transmission, Vehicle, dan Fuel menggunakan MICE (RandomForest)

In [1456]:
# from catboost import CatBoostClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score
# import pandas as pd
# import numpy as np

# def impute_categorical_data_with_catboost(df, column_to_impute, categorical_columns):
#     # Menyaring kolom yang memiliki data hilang
#     df_with_missing = df[df[column_to_impute].isna()]
#     df_without_missing = df[~df[column_to_impute].isna()]

#     # Memisahkan data menjadi fitur dan target
#     X = df_without_missing.drop(columns=[column_to_impute])
#     y = df_without_missing[column_to_impute]

#     # Konversi fitur kategorikal ke string
#     for col in categorical_columns:
#         if col != column_to_impute:
#             X[col] = X[col].astype(str)
#             if col in df_with_missing.columns:
#                 df_with_missing[col] = df_with_missing[col].astype(str)

#     # Menyiapkan daftar fitur kategorikal untuk model
#     cat_features_for_model = [col for col in categorical_columns if col != column_to_impute]

#     # Membagi data untuk training dan testing
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#     # Membangun dan melatih model CatBoost
#     model = CatBoostClassifier(iterations=30, learning_rate=0.1, depth=6, cat_features=cat_features_for_model, verbose=False)
#     model.fit(X_train, y_train)

#     # Evaluasi model
#     y_pred = model.predict(X_test)
#     accuracy = accuracy_score(y_test, y_pred)

#     # Mengimputasi data yang hilang
#     imputed_values = model.predict(df_with_missing.drop(columns=[column_to_impute]))

#     # Mengisi nilai yang diimputasi ke dalam dataframe asli
#     df.loc[df[column_to_impute].isna(), column_to_impute] = imputed_values

#     return df, accuracy

# # Kolom kategorikal dalam dataset
# categorical_columns = ['Make', 'Transmission', 'Vehicle', 'Fuel']  # Termasuk 'Cylinders'

# # Kolom yang akan diimputasi
# columns_to_impute = ['Transmission', 'Vehicle', 'Fuel']

# # Melakukan imputasi untuk setiap kolom
# imputation_results = {}
# for column in columns_to_impute:
#     df, accuracy = impute_categorical_data_with_catboost(df, column, categorical_columns)
#     imputation_results[column] = accuracy

# # Menampilkan hasil imputasi
# print(imputation_results)
# print(df.head())

{'Transmission': 0.5871117951146364, 'Vehicle': 0.5588591773350504, 'Fuel': 0.8689150125264984}

In [1457]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

def impute_categorical_data_with_lightgbm(df, column_to_impute, categorical_columns):
    # Menyaring kolom yang memiliki data hilang
    df_with_missing = df[df[column_to_impute].isna()]
    df_without_missing = df[~df[column_to_impute].isna()]

    # Memisahkan data menjadi fitur dan target
    X = df_without_missing.drop(columns=[column_to_impute])
    y = df_without_missing[column_to_impute]

    # Untuk kolom yang tidak sedang diimputasi dan termasuk dalam categorical_columns, ubah tipe datanya menjadi 'category'
    for col in X.columns:
        if col in categorical_columns and col != column_to_impute:
            X[col] = X[col].astype('category')
            if col in df_with_missing.columns:
                df_with_missing[col] = df_with_missing[col].astype('category')

    # Membagi data untuk training dan testing
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

    # Membangun dan melatih model LightGBM
    model = lgb.LGBMClassifier(num_leaves=31, learning_rate=0.1, n_estimators=30, 
                               random_state=0, categorical_feature='auto')
    model.fit(X_train, y_train)

    # Evaluasi model
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    # Mengimputasi data yang hilang
    # Pastikan bahwa hanya kolom yang ada dalam X_train digunakan untuk imputasi
    df_missing_reindexed = df_with_missing.reindex(columns = X_train.columns)
    imputed_values = model.predict(df_missing_reindexed)

    # Mengisi nilai yang diimputasi ke dalam dataframe asli
    df.loc[df[column_to_impute].isna(), column_to_impute] = imputed_values

    return df, accuracy

# Kolom kategorikal dalam dataset
categorical_columns = ['Make', 'Transmission', 'Vehicle', 'Fuel']  # Termasuk 'Cylinders'

# Kolom yang akan diimputasi
columns_to_impute = ['Transmission', 'Vehicle', 'Fuel']

# Melakukan imputasi untuk setiap kolom
imputation_results = {}
for column in columns_to_impute:
    df, accuracy = impute_categorical_data_with_lightgbm(df, column, categorical_columns)
    imputation_results[column] = accuracy

# Menampilkan hasil imputasi
imputation_results, df.head()

C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_33616\2884247796.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_missing[col] = df_with_missing[col].astype('category')
c:\Users\Elzandi Irfan Zikra\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\basic.py:1873: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  _log_warning(f'{key} keyword has been found in `params` and will be ignored.\n'
c:\Users\Elzandi Irfan Zikra\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\basic.py:1893: UserWarning: categorical_feature in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Warning] categorical_feature is set=auto, categorical_column=0,2,4 will be ignored. Current value: categorical_feature=auto
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001069 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1271
[LightGBM] [Info] Number of data points in the train set: 42763, number of used features: 9
[LightGBM] [Info] Start training from score -5.892744
[LightGBM] [Info] Start training from score -4.521391
[LightGBM] [Info] Start training from score -4.027482
[LightGBM] [Info] Start training from score -2.315601
[LightGBM] [Info] Start training from score -8.098479
[LightGBM] [Info] Start training from score -2.955916
[LightGBM] [Info] Start training from score -3.615042
[LightGBM] [Info] Start training from score -3.913497
[LightGBM] [Info] Start training from score -3.587620
[LightGBM] [Info] Start training from score -5.859407
[LightGBM] [Info] Start training from score -7.296133
[LightGBM] [Info] Start training from score -3.350208
[LightGBM] [Info] Start training from score -5.225349
[LightGBM] [Info] Start training from score -1.476562
[LightGBM] [Info] Start training from score -5.166260
[LightGBM] [Info] Start training from score -1.864068
[LightGBM] [Info] Start training from score -4.386785
[LightGBM] [Info] Start training from score -2.832606
[LightGBM] [Info] Start training from score -5.981297
[LightGBM] [Info] Start training from score -3.792337
[LightGBM] [Info] Start training from score -3.818613
[LightGBM] [Info] Start training from score -5.046657
[LightGBM] [Info] Start training from score -3.245848
[LightGBM] [Info] Start training from score -1.938246
[LightGBM] [Info] Start training from score -6.141640
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_33616\2884247796.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_missing[col] = df_with_missing[col].astype('category')
c:\Users\Elzandi Irfan Zikra\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\basic.py:1873: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  _log_warning(f'{key} keyword has been found in `params` and will be ignored.\n'
c:\Users\Elzandi Irfan Zikra\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\basic.py:1893: UserWarning: categorical_feature in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Warning] categorical_feature is set=auto, categorical_column=0,2,4 will be ignored. Current value: categorical_feature=auto
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000909 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1268
[LightGBM] [Info] Number of data points in the train set: 42308, number of used features: 9
[LightGBM] [Info] Start training from score -1.757513
[LightGBM] [Info] Start training from score -2.578394
[LightGBM] [Info] Start training from score -1.841974
[LightGBM] [Info] Start training from score -4.385531
[LightGBM] [Info] Start training from score -4.339183
[LightGBM] [Info] Start training from score -3.666165
[LightGBM] [Info] Start training from score -2.628851
[LightGBM] [Info] Start training from score -4.525862
[LightGBM] [Info] Start training from score -4.945621
[LightGBM] [Info] Start training from score -3.115301
[LightGBM] [Info] Start training from score -2.696956
[LightGBM] [Info] Start training from score -1.563542
[LightGBM] [Info] Start training from score -2.432059
[LightGBM] [Info] Start training from score -3.489559
[LightGBM] [Info] Start training from score -5.907799
[LightGBM] [Info] Start training from score -4.636574

C:\Users\Elzandi Irfan Zikra\AppData\Local\Temp\ipykernel_33616\2884247796.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_missing[col] = df_with_missing[col].astype('category')
c:\Users\Elzandi Irfan Zikra\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\basic.py:1873: UserWarning: categorical_feature keyword has been found in `params` and will be ignored.
Please use categorical_feature argument of the Dataset constructor to pass this parameter.
  _log_warning(f'{key} keyword has been found in `params` and will be ignored.\n'
c:\Users\Elzandi Irfan Zikra\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\basic.py:1893: UserWarning: categorical_feature in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Warning] categorical_feature is set=auto, categorical_column=0,2,3 will be ignored. Current value: categorical_feature=auto
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000385 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1278
[LightGBM] [Info] Number of data points in the train set: 42396, number of used features: 9
[LightGBM] [Info] Start training from score -3.887466
[LightGBM] [Info] Start training from score -2.986248
[LightGBM] [Info] Start training from score -8.457585
[LightGBM] [Info] Start training from score -0.443139
[LightGBM] [Info] Start training from score -1.248984
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

({'Transmission': 0.709755869422879,
  'Vehicle': 0.754490451881263,
  'Fuel': 0.9338616850646287},
       Make  Cylinders Transmission               Vehicle    Engine Fuel  \
 0    MITSU        4.0          AV8           SUV - SMALL  1.500000    X
 1   TOYOTI        6.0           A5  PICKUP TRUCK - SMALL  3.398870    X
 2  MATSUDA        4.0          AS6               COMPACT  2.000000    X
 3    CHEVO        8.0           A6       VAN - PASSENGER  5.211981    X
 4   TOYOTI        4.0           M6               COMPACT  1.800000    X

         City        Hwy       Comb  Emissions
 0  11.927273   7.200000   9.800000        208
 1  13.793103   9.700000  11.960000        325
 2  10.199251   7.299267   8.894258        170
 3  17.300000  11.700000  14.780000        362
 4   8.100000   7.899375   8.010000        180  )

In [1458]:
df.head(50)

,Make,Cylinders,Transmission,Vehicle,Engine,Fuel,City,Hwy,Comb,Emissions
0,MITSU,4.0,AV8,SUV - SMALL,1.500000,X,11.927273,7.200000,9.800000,208
1,TOYOTI,6.0,A5,PICKUP TRUCK - SMALL,3.398870,X,13.793103,9.700000,11.960000,325
2,MATSUDA,4.0,AS6,COMPACT,2.000000,X,10.199251,7.299267,8.894258,170
3,CHEVO,8.0,A6,VAN - PASSENGER,5.211981,X,17.300000,11.700000,14.780000,362
4,TOYOTI,4.0,M6,COMPACT,1.800000,X,8.100000,7.899375,8.010000,180
5,DOGE,4.0,A6,MID-SIZE,2.400000,X,11.299435,8.000512,9.810000,216
6,BMV,4.0,M6,COMPACT,2.000000,Z,8.998008,8.100000,8.593904,201
7,LECUS,6.0,AS6,MID-SIZE,3.500000,X,12.000768,9.900990,11.053339,221
8,KIO,4.0,AS6,SUV - SMALL,2.400000,X,13.900000,7.595689,11.131788,243
9,TOYOTI,4.0,M5,PICKUP TRUCK - SMALL,2.700000,X,13.106160,8.900000,11.213388,297
10,FOLD,6.0,AS6,SUV - STANDARD,3.500000,X,16.001024,11.806375,14.100000,347
11,MATSUDA,4.0,AS6,SUV - SMALL,2.000000,X,9.199632,8.799665,9.017133,192
12,KIO,4.0,AS6,SUV - SMALL,2.400000,X,11.600928,8.000046,9.980000,237
13,JIPU,4.0,A9,SUV - SMALL,2.400000,X,12.300000,9.400000,10.996496,235
14,NIRRAN,4.0,M6,STATION WAGON - SMALL,1.600000,Z,9.500000,7.599840,8.640000,198
15,CADILUXE,4.0,AS8,FULL-SIZE,2.000000,Z,10.900000,8.699773,9.910803,219
16,JIPU,4.0,A9,SUV - SMALL,2.510070,X,10.898211,8.700000,9.910803,225
17,MITSU,3.0,AV,COMPACT,1.200000,X,7.898894,7.898894,7.900000,167
18,FOLKSWA,6.0,AM6,MID-SIZE,3.324408,X,12.399430,8.400000,10.599686,232
19,BARUSU,4.0,M6,COMPACT,2.500000,Z,15.900000,9.500000,13.020000,305
20,LECUS,6.0,AV8,MID-SIZE,3.500000,Z,11.200699,7.100000,9.400000,167
21,NIRRAN,4.0,M6,STATION WAGON - SMALL,1.600000,Z,12.401194,10.298661,11.455054,187
22,GONDA,6.0,A6,SUV - SMALL,3.500000,X,11.400000,10.500000,11.000000,263
23,JIPU,6.0,A9,SUV - SMALL,3.200000,X,19.900000,9.099181,15.041621,257
24,GONDA,4.0,AV,FULL-SIZE,1.500000,X,4.200269,6.798097,5.369291,178
25,LAND CRAWLER,8.0,AS8,SUV - STANDARD,5.000000,E,17.686697,11.600000,14.947683,367
26,DOGE,10.0,M6,TWO-SEATER,8.400000,Z,14.600000,8.800000,11.988535,406
27,FOLD,6.0,AS10,VAN - PASSENGER,3.500000,X,18.115942,11.000000,14.913768,397
28,CHEVO,4.0,AS6,SUV - SMALL,1.400000,X,8.292466,6.798097,7.620000,191
29,GONDA,6.0,A6,PICKUP TRUCK - STANDARD,3.500000,X,17.404907,9.999350,14.070000,265
30,RYUNDAI,6.0,AS8,FULL-SIZE,3.800000,X,12.290909,11.800000,12.070000,314
31,JIPU,4.0,M6,SUV - SMALL,2.024062,X,9.100000,8.703220,8.900000,213
32,JIPU,4.0,A9,SUV - SMALL,2.400000,X,8.600185,7.600000,8.150102,217
33,DOGE,8.0,A8,FULL-SIZE,6.200000,Z,23.321839,12.075005,18.400000,494
34,FOLKSWA,4.0,AS8,SUV - SMALL,2.000000,X,14.300000,9.500000,12.100000,223
35,MITSU,4.0,AM6,COMPACT,2.000000,Z,14.000000,7.300000,10.980000,311
36,KIO,4.0,M6,MID-SIZE,1.800000,X,9.500000,7.900000,8.779631,196
37,MATSUDA,4.0,M6,COMPACT,1.892903,X,4.300092,7.400000,5.695280,150
38,CHEVO,4.0,M5,SUBCOMPACT,1.400000,X,8.800000,6.199659,7.600000,167
39,FOLD,4.0,AM6,COMPACT,2.000000,E,4.200269,7.100000,5.503577,107
40,LAND CRAWLER,8.0,AS8,SUV - STANDARD,5.000000,Z,13.900000,10.400000,12.320000,354
41,KIO,4.0,A6,STATION WAGON - MID-SIZE,2.000000,X,11.000000,8.200000,9.740000,200
42,LAND CRAWLER,4.0,AS9,SUV - SMALL,2.000000,Z,10.300000,8.100000,9.310000,222
43,LECUS,6.0,AV8,MID-SIZE,3.500000,Z,12.100000,7.299270,9.940358,177
44,BMV,8.0,AS8,SUV - STANDARD,4.400000,Z,16.600000,15.600624,16.155089,364
45,TOYOTI,4.0,AV,COMPACT,1.800000,X,10.600048,8.100993,9.470000,174
46,GONDA,4.0,M6,MID-SIZE,2.000000,X,12.500000,7.894508,10.427529,192
47,TOLVO,6.0,AS6,COMPACT,3.000000,X,17.006696,14.102928,15.700000,283
48,FOLKSWA,6.0,AS6,COMPACT,3.600000,X,17.901245,14.500000,16.400000,289
49,RYUNDAI,4.0,AS8,SUV - SMALL,2.400000,X,16.597041,9.900000,13.590000,226

In [1459]:
# df.to_excel("Slayer_Train3_Dataclean.xlsx", engine='openpyxl')

Preprocesing pengelompokan data

Preprocessing Penambahan Variable

In [1460]:
# from sklearn.cluster import KMeans
# from sklearn.preprocessing import StandardScaler
# import pandas as pd

# # Select only numerical columns, excluding the dependent variable 'Emissions'
# numerical_cols = df.select_dtypes(include=['float64', 'int64']).drop('Emissions', axis=1).columns
# # ['Cylinders', 'Engine', 'Hwy']
# df_numerical = df[numerical_cols]

# # Standardize the numerical features
# scaler = StandardScaler()
# df_numerical_scaled = scaler.fit_transform(df_numerical)

# # Apply KMeans
# # Let's assume we want to create 3 clusters
# kmeans = KMeans(n_clusters=3, random_state=42)
# df['Cluster'] = kmeans.fit_predict(df_numerical_scaled)

# # Display the DataFrame to see the results
# print(df.head())

In [1461]:
df.head()

,Make,Cylinders,Transmission,Vehicle,Engine,Fuel,City,Hwy,Comb,Emissions
0,MITSU,4.0,AV8,SUV - SMALL,1.500000,X,11.927273,7.200000,9.800000,208
1,TOYOTI,6.0,A5,PICKUP TRUCK - SMALL,3.398870,X,13.793103,9.700000,11.960000,325
2,MATSUDA,4.0,AS6,COMPACT,2.000000,X,10.199251,7.299267,8.894258,170
3,CHEVO,8.0,A6,VAN - PASSENGER,5.211981,X,17.300000,11.700000,14.780000,362
4,TOYOTI,4.0,M6,COMPACT,1.800000,X,8.100000,7.899375,8.010000,180

In [1462]:
# drop = ["Hwy"]
# df = df.drop(drop, axis=1)

In [1463]:
# Creating new variables
# df['Normalized_Engine'] = (df['Engine'] - df['Engine'].mean()) / df['Engine'].std()
df['City_Eff_Score'] = (df['City'] - df['City'].mean()) / df['City'].std()
df['Hwy_Eff_Score'] = (df['Hwy'] - df['Hwy'].mean()) / df['Hwy'].std()
df['Fuel_Type_Binary'] = df['Fuel'].apply(lambda x: 1 if x == 'X' else 0)
# df['Trans_Type_Enc'] = df['Transmission'].factorize()[0]
df['Engine_Cyl_Ratio'] = df['Engine'] / df['Cylinders']
# df['City_Hwy_Ratio'] = df['City'] / df['Hwy']
# df['Hwy_City_Ratio'] = df['Hwy'] / df['City']
# df['Engine_Eff_Factor'] = df['Comb'] / df['Engine']
# df['Trans_Length'] = df['Transmission'].apply(len)
# df['Make_Freq_Enc'] = df.groupby('Make')['Make'].transform('count')
# df['Vehicle_Type_Len'] = df['Vehicle'].apply(len)
df['Cyl_Sqrt'] = df['Cylinders']**0.5
df['Cyl_Sqrt'] = df['Cylinders']**2

# df['Engine_Cbrt'] = df['Engine']**(1/3)
# df['Is_Compact'] = df['Vehicle'].apply(lambda x: 1 if 'COMPACT' in x else 0)
# df['Is_SUV'] = df['Vehicle'].apply(lambda x: 1 if 'SUV' in x else 0)
# df['City_Eff_Class'] = pd.qcut(df['City'], 4, labels=['Low', 'Medium', 'High', 'Very High'])
# df['Hwy_Eff_Class'] = pd.qcut(df['Hwy'], 4, labels=['Low', 'Medium', 'High', 'Very High'])
# df['Comb_Eff_Class'] = pd.qcut(df['Comb'], 4, labels=['Low', 'Medium', 'High', 'Very High'])
# df['Engine_Class'] = pd.cut(df['Engine'], bins=[0, 1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5], labels=['<1.5L', '1.5-2.5L', '2.5-3.5L', '3.5-4.5L', '4.5-5.5L', '5.5-6.5L', '6.5-7.5L', '>7.5L'])

df.head()

,Make,Cylinders,Transmission,Vehicle,Engine,Fuel,City,Hwy,Comb,Emissions,City_Eff_Score,Hwy_Eff_Score,Fuel_Type_Binary,Engine_Cyl_Ratio,Cyl_Sqrt
0,MITSU,4.0,AV8,SUV - SMALL,1.500000,X,11.927273,7.200000,9.800000,208,-0.165120,-0.828435,1,0.375000,16.0
1,TOYOTI,6.0,A5,PICKUP TRUCK - SMALL,3.398870,X,13.793103,9.700000,11.960000,325,0.320757,0.237925,1,0.566478,36.0
2,MATSUDA,4.0,AS6,COMPACT,2.000000,X,10.199251,7.299267,8.894258,170,-0.615111,-0.786093,1,0.500000,16.0
3,CHEVO,8.0,A6,VAN - PASSENGER,5.211981,X,17.300000,11.700000,14.780000,362,1.233982,1.091013,1,0.651498,64.0
4,TOYOTI,4.0,M6,COMPACT,1.800000,X,8.100000,7.899375,8.010000,180,-1.161773,-0.530121,1,0.450000,16.0

Kepastian Tipe Data

In [1464]:
df['Make'] = df['Make'].astype('category')
df['Transmission'] = df['Transmission'].astype('category')
df['Vehicle'] = df['Vehicle'].astype('category')
df['Fuel'] = df['Fuel'].astype('category')

In [1465]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_squared_log_error
import numpy as np

# Assuming 'df' is your DataFrame with the relevant variables

# Drop rows with missing values in the target variable 'Emissions'
df.dropna(subset=['Emissions'], inplace=True)

# Define independent and dependent variables
X = df.drop(columns=['Emissions'])
y = df['Emissions']


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define LightGBM dataset
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_test, label=y_test, reference=train_data)
train_data2 = lgb.Dataset(X, label=y)


# Define LightGBM parameters 
params = {
    'objective': 'regression',
    'metric': 'mse',
    'boosting_type': 'gbdt',
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.9
}

# Train the LightGBM model
num_round = 1000
bst = lgb.train(params, train_data, num_round, valid_sets=[test_data])
bst2 = lgb.train(params, train_data2, num_round)


# Make predictions on the test set
y_pred = bst.predict(X_test, num_iteration=bst.best_iteration)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean Squared Error on the test set: {mse}')
print(f'Root Mean Squared Error on the test set: {rmse}')

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001605 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1767
[LightGBM] [Info] Number of data points in the train set: 43949, number of used features: 14
[LightGBM] [Info] Start training from score 246.828438

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002514 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1768
[LightGBM] [Info] Number of data points in the train set: 54937, number of used features: 14
[LightGBM] [Info] Start training from score 246.688680
Mean Squared Error on the test set: 356.45716889316145
Root Mean Squared Error on the test set: 18.880073328595984

In [1466]:
# import lightgbm as lgb
# from sklearn.model_selection import GridSearchCV, train_test_split
# from sklearn.metrics import mean_squared_error
# import numpy as np

# # Assuming 'df' is your DataFrame with the relevant variables

# # Drop rows with missing values in the target variable 'Emissions'
# df.dropna(subset=['Emissions'], inplace=True)

# # Define independent and dependent variables
# X = df.drop(columns=['Emissions'])
# y = df['Emissions']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Create a LightGBM regressor
# lgb_regressor = lgb.LGBMRegressor()

# # Define the grid of parameters to search
# param_grid = {
#     'num_leaves': [31, 50, 70],
#     'learning_rate': [0.01, 0.05, 0.1],
#     'feature_fraction': [0.8, 0.9, 1.0],
#     'n_estimators': [100, 500, 1000]
# }

# # Create a GridSearchCV object
# grid_search = GridSearchCV(estimator=lgb_regressor, param_grid=param_grid, 
#                            cv=3, scoring='neg_mean_squared_error', verbose=1, n_jobs=-1)

# # Perform the grid search
# grid_search.fit(X_train, y_train)

# # Best parameters and score
# best_params = grid_search.best_params_
# best_score = grid_search.best_score_

# print(f'Best Parameters: {best_params}')
# print(f'Best Score: {-best_score}') # neg_mean_squared_error is negative, hence the negation

# # Re-train the model with the best parameters
# best_model = lgb.LGBMRegressor(**best_params)
# best_model.fit(X_train, y_train)

# # Make predictions on the test set
# y_pred = best_model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# rmse = np.sqrt(mse)

# print(f'Mean Squared Error on the test set: {mse}')
# print(f'Root Mean Squared Error on the test set: {rmse}')

Catatan: Cari cara lain untuk mengisi nilai yang hilang pada variabel Transmission, Vehicle, dan Fuel.

In [1467]:
# from catboost import CatBoostRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error
# import numpy as np

# # Assuming 'df' is your DataFrame with the relevant variables

# # Drop rows with missing values in the target variable 'Emissions'
# df.dropna(subset=['Emissions'], inplace=True)

# # Define independent and dependent variables
# X = df.drop(columns=['Emissions'])
# y = df['Emissions']

# # List of categorical variables
# cat_features = ['Make', 'Transmission', 'Vehicle', 'Fuel']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Initialize CatBoost Regressor with categorical features
# model = CatBoostRegressor(loss_function='RMSE', depth=6, learning_rate=0.1, iterations=1000, cat_features=cat_features)

# # Train the CatBoost model
# model.fit(X_train, y_train, eval_set=(X_test, y_test), verbose=100)

# # Make predictions on the test set
# y_pred = model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# rmse = np.sqrt(mse)

# print(f'Mean Squared Error on the test set: {mse}')
# print(f'Root Mean Squared Error on the test set: {rmse}')

In [1468]:
# import pandas as pd
# from catboost import CatBoostRegressor

# # Load the test dataset
# test_data_path = "Slayer_Test_Clean_4.csv"  # Adjust the path as needed
# df_test = pd.read_csv(test_data_path)

# # Define the categorical features
# categorical_features = ['Make', 'Transmission', 'Vehicle', 'Fuel']

# # Assuming 'model' is your pre-trained CatBoost model
# # If 'model' is not loaded, you need to load it using CatBoostRegressor().load_model('model_filename')

# # Prepare the features for prediction
# features = [col for col in df_test.columns if col not in ('Unnamed: 0', 'CO2 Emissions(g/km)')]  # Exclude non-feature columns

# # Make predictions on the test dataset
# y_pred_test = model.predict(df_test[features])

# # Load the sample submission file
# sample_submission_path = "sample_submission.csv"  # Adjust the path as needed
# df_submission = pd.read_csv(sample_submission_path)

# # Update the 'CO2 Emissions(g/km)' column in the sample submission file with the predictions
# df_submission['CO2 Emissions(g/km)'] = y_pred_test

# # Save the updated sample submission file to a new CSV file
# updated_submission_path = "Updated_Submission3.csv"
# df_submission.to_csv(updated_submission_path, index=False)
# print('The predictions have been saved to Updated_Submission.csv')

Pelajari AutoML

Pycaret

In [1469]:
# from catboost import CatBoostRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error
# import numpy as np

# # Assuming 'df' is your DataFrame with the relevant variables

# # Drop rows with missing values in the target variable 'Emissions'
# df.dropna(subset=['Emissions'], inplace=True)

# # Define independent and dependent variables
# X = df.drop(columns=['Emissions'])
# y = df['Emissions']

# # Identify categorical features
# cat_features = X.select_dtypes(include=['category', 'object']).columns.tolist()

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Initialize CatBoost Regressor
# model = CatBoostRegressor(
#     iterations=1000, 
#     learning_rate=0.05, 
#     depth=6,
#     cat_features=cat_features,  # Specify categorical features
#     loss_function='RMSE'
# )

# # Train the CatBoost Regressor
# model.fit(X_train, y_train, verbose=100)
# bst2 = model.fit(X, y, verbose=100)
# # Make predictions on the test set
# y_pred = model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# rmse = np.sqrt(mse)

# print(f'Mean Squared Error on the test set: {mse}')
# print(f'Root Mean Squared Error on the test set: {rmse}')

Pelajari agar model mempelajari train.csv secara keseluruhan.

Gunakan

In [1470]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54937 entries, 0 to 54936
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Make              54937 non-null  category
 1   Cylinders         54937 non-null  float64
 2   Transmission      54937 non-null  category
 3   Vehicle           54937 non-null  category
 4   Engine            54937 non-null  float64
 5   Fuel              54937 non-null  category
 6   City              54937 non-null  float64
 7   Hwy               54937 non-null  float64
 8   Comb              54937 non-null  float64
 9   Emissions         54937 non-null  int64
 10  City_Eff_Score    54937 non-null  float64
 11  Hwy_Eff_Score     54937 non-null  float64
 12  Fuel_Type_Binary  54937 non-null  int64
 13  Engine_Cyl_Ratio  54937 non-null  float64
 14  Cyl_Sqrt          54937 non-null  float64
dtypes: category(4), float64(9), int64(2)
memory usage: 4.8 MB

In [1471]:
# import pandas as pd
# import lightgbm as lgb

# # Load the test dataset
# test_data_path = "Slayer_Test_Clean_4.csv"  # Adjust the path as needed
# df_test = pd.read_csv(test_data_path)

# # Define the categorical features
# categorical_features = ['Make', 'Transmission', 'Vehicle', 'Fuel']
# for feature in categorical_features:
#     df_test[feature] = df_test[feature].astype('category')

# # Assuming 'bst' is your pre-trained LightGBM model
# # If 'bst' is not loaded, you need to load it using `lgb.Booster(model_file='model_filename.txt')`

# # Prepare the features for prediction
# features = [col for col in df_test.columns if col not in ('Unnamed: 0', 'CO2 Emissions(g/km)')]  # Exclude non-feature columns

# # Make predictions on the test dataset
# y_pred_test = bst2.predict(df_test[features], num_iteration=bst.best_iteration)

# # Load the sample submission file
# sample_submission_path = "sample_submission.csv"  # Adjust the path as needed
# df_submission = pd.read_csv(sample_submission_path)

# # Update the 'CO2 Emissions(g/km)' column in the sample submission file with the predictions
# df_submission['CO2 Emissions(g/km)'] = y_pred_test

# # print(df_submission['CO2 Emissions(g/km)'])
# # Save the updated sample submission file to a new CSV file
# updated_submission_path = "Updated_Submission3.csv"
# df_submission.to_csv(updated_submission_path, index=False)
# print('The predictions have been saved to Updated_Submission.csv')

In [1472]:
df4 = pd.read_csv("C:/Python/00 - Template/Data Science/Slayer/Updated_Submission.csv")
df4.head(50)

        Id  CO2 Emissions(g/km)
0   137142           363.007341
1   137143           422.630784
2   137144           253.460521
3   137145           342.648374
4   137146           351.695307
5   137147           359.003706
6   137148           452.272795
7   137149           250.827116
8   137150           429.776762
9   137151           227.685181
10  137152           383.378730
11  137153           315.906326
12  137154           333.582129
13  137155           375.628535
14  137156           321.894092
15  137157           358.732921
16  137158           413.906330
17  137159           247.732306
18  137160           331.882271
19  137161           281.657497
20  137162           166.015419
21  137163           328.649852
22  137164           264.694084
23  137165           324.914657
24  137166           314.629074
25  137167           273.376128
26  137168           376.067384
27  137169           190.976084
28  137170           175.749016
29  137171           434.099473
30  137172           387.995662
31  137173           327.711186
32  137174           243.493531
33  137175           376.104498
34  137176           348.619043
35  137177           164.414828
36  137178           170.058065
37  137179           217.652310
38  137180           257.569386
39  137181           238.036206
40  137182           292.741316
41  137183           473.435171
42  137184           191.574311
43  137185           402.022340
44  137186           229.138085
45  137187           158.713516
46  137188           206.469401
47  137189           322.851623
48  137190           365.024712
49  137191           190.110427

In [1473]:
# import pandas as pd

# # Load the Submission file
# submission_file_path = "C:/Python/00 - Template/Data Science/Slayer/Submission.csv"
# df_submission = pd.read_csv(submission_file_path)

# # Rename 'Emissions' column to 'CO2 Emissions(g/km)'
# df_submission.rename(columns={'Emissions': 'CO2 Emissions(g/km)'}, inplace=True)

# # Add an 'Id' column (assuming a sequential ID starting from 1)
# df_submission.insert(137142, 'Id', range(137142, 1 + len(df_submission)))

# # Save the updated DataFrame back to a CSV file
# modified_submission_file_path = "Final_Submission.csv"
# df_submission.to_csv(modified_submission_file_path, index=False)

# print('The modified submission file has been saved to Modified_Submission.csv')